{% extends 'base.html' %}
{% block content %}

{% load static %}
<div class="container">
    <div class="col-sm" style="padding: 3rem 0rem 0rem 0rem">
        <h1>Pending Approval</h1>
        <div class="row">
            {% if projects_list %}
            <!-- start iteration -->
            {% for project in projects_list %}
            <div class="col-sm-4" style="margin-top: 2rem">
                <div class="project-card-sm">
                    {% if project.featured_image == "" %}
                    <img src="https://via.placeholder.com/340x200?text=no_featured_image">
                    {% else %}
                    <img src="{{ project.featured_image }}">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title pending-project-title">{{ project.title }}</h4>
                        <p class="card-text">(Pending approval) {{ project.caption }}</p>
                        <div class="row">
                            <div class="col-sm-6" style="display: flex; justify-content: space-around">
                                <form action='/user/actions/approve_project/{{ project.project_uid }}/' method='GET'>
                                    <button type="submit" class="btn btn-success button-accept-pending">Approve</button>
                                </form>
                            </div>
                            <div class="col-sm-6" style="display: flex; justify-content: space-around">
                                <form action='/user/actions/hide_project/{{ project.project_uid }}/' method='GET'>
                                    <button type="submit" class="btn btn-danger button-HIDDEN-pending">reject</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="display: flex; justify-content: flex-end">
                            <a href="{% url 'website:project_view_bypass' project.project_uid %}"
                                class="btn btn-md edit-button pending-project-link">
                                View Project <i class="fa fa-angle-right" style="color:black"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div style="width: 100%">
                <div style="text-align:center; margin-top: 80px">
                    <p>Yay! No more pending projects to review.</p>
                    <br>
                    <img src='{% static "images/yay.gif" %}' style="height: 200px">
                </div>
            </div>
            {% endif %}
        </div>
        <br>
        <hr>
        <br>
        <h2>Previously Rejected Projects</h1>
            <div class="row">
                {% if rejected_projects_list %}
                <!-- start iteration -->
                {% for project in rejected_projects_list %}
                <div class="col-sm-4" style="margin-top: 2rem">
                    <div class="project-card-sm">
                        {% if project.featured_image == "" %}
                        <img
                            src="https://via.placeholder.com/340x200?text=no_featured_image">
                        {% else %}
                        <img src="{{ project.featured_image }}">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title rejected-project-title">{{ project.title }}</h4>
                            <p class="card-text">(rejected) {{ project.caption }}</p>
                            <div class="row">
                                <div class="col-sm-6" style="display: flex; justify-content: space-around">
                                    <form action='/user/actions/approve_project/{{ project.project_uid }}/' method='GET'>
                                        <button type="submit"
                                            class="btn btn-success button-accept-reject">Approve</button>
                                    </form>
                                </div>
                                <div class="col-sm-6" style="display: flex; justify-content: space-around">
                                    <form>
                                        <button type="submit" disabled
                                            class="btn btn-danger disabled button-reject-reject" role="button"
                                            aria-disabled="true">Reject</button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="display: flex; justify-content: flex-end">
                                <a href="{% url 'website:project_view_bypass' project.project_uid %}"
                                    class="btn btn-md edit-button rejected-project-link">
                                    View Project <i class="fa fa-angle-right" style="color:black"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div style="width: 100%">
                    <div style="text-align:center; margin-top: 80px">
                        <p>There are no previously hidden projects.</p>
                    </div>
                </div>
                {% endif %}
            </div>
    </div>
</div>
{% endblock %}