{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid homepage-header">
    <h1>Welcome to OpenSUTD!</h1>
    <p class="">An open community owned by and dedicated to sharing the work done by the SUTD
        community</p>

    <div class="row homepage-call-to-action mx-auto">
        <div class="col-sm homepage-action">
            <h4>For Students</h4>
            <div>
                <p>Browse various student projects</p>
                <p>Learn from student-curated materials</p>
                <p>Share your projects and knowledge</p>
            </div>
        </div>
        <div class="col-sm homepage-action">
            <h4>For Educators</h4>
            <div>
                <p>Promote knowledge with course materials</p>
                <p>Encourage academic discussion, collaboration and contribution</p>
            </div>
        </div>
        <div class="col-sm homepage-action">
            <h4>For Leaders</h4>
            <p>Learn about Open Organisations</p>
            <p>Manage policies with Open Source methodologies</p>
        </div>
    </div>
    <div class="row homepage-call-to-action">
        <div class="col-sm">
            <a class="btn btn-secondary homepage-action-button" href="{% url 'website:students' %}" role="button">Get
                Involved <i class="fas fa-chevron-circle-right"></i></a>
        </div>
        <div class="col-sm">
            <a class="btn btn-secondary homepage-action-button" href="{% url 'website:educators' %}" role="button">Get
                Involved <i class="fas fa-chevron-circle-right"></i></a>
        </div>
        <div class="col-sm">
            <a class="btn btn-secondary homepage-action-button" href="{% url 'website:leaders' %}" role="button">Get
                Involved <i class="fas fa-chevron-circle-right"></i></a>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
{% if user.first_login == True %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 100%;">
    <b>Welcome to OpenSUTD!</b>
    Head over to your <a href="{% url 'website:user_profile' user.username%}">profile page</a> to update
    your personal info!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><i class="fas fa-star"></i> Top Projects</h2>
            <div class="row">
                {% if top_projects_list %}
                <!-- start iteration -->
                {% for project in top_projects_list %}
                <div class="col-sm-6">
                    <div class="project-card-sm">
                        {% if project.featured_image == "" %}
                        <img
                            src="https://via.placeholder.com/340x200?text=no_featured_image">
                        {% else %}
                        <img src="{{ project.featured_image }}">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ project.title }}</h4>
                            <p class="card-text" style="text-align: justify !important;">{{ project.caption }}</p>
                            <div class="row" style="display: flex; justify-content: space-around">
                                <a href="{% url 'website:project_view' project.project_uid %}" class="card-link">
                                    View Project <i class="fas fa-chevron-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Error! No projects are available.</p>
                {% endif %}
            </div>
        </div>

        <div class="col-sm">
            <h2><i class="far fa-clock"></i> Recent Projects</h2>
            {% if recent_projects_list %}
            <!-- start iteration -->
            <div class="list-group list-group-flush" style="width: 100%">
                {% for project in recent_projects_list %}
                <a href="{% url 'website:project_view' project.project_uid %}"
                    class="list-group-item list-group-item-action" style="color: #424444">{{ project.title }}</a>
                {% endfor %}
            </div>
            {% else %}
            <p>Error! No projects are available.</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}