{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid homepage-header">
    <h1><i class="far fa-comments"></i> Open Source Leadership at OpenSUTD</h1>
    <p style="color:white">OpenSUTD strives to adhere to and evangelise Open Organisation principles</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Open Organisation</h3>
            <p>An Open Organisation is an organisation that values transparency, inclusivity, adaptability,
                collaboration, and community - the same values that empower industry-changing open source software
                projects.</p>
            <a class="btn btn-outline-secondary" target="_blank"
                href="https://opensource.com/open-organization/resources/open-org-definition" role="button"><i
                    class="fas fa-external-link-alt"></i> Definition of an Open Organisation</a>
        </div>
        <div class="col-sm">
            <h3>OpenSUTD</h3>
            <p>At OpenSUTD, we believe in the ideals of an Open Organisation.</p>
            <p>We seek to supplement the existing governance structure in SUTD by connecting people who want to make
                change to the avenues for them to contribute: in other words, it is the pieces that are solving the puzzle!</p>
        </div>
    </div>

    <div class="row">
        {% if policy_projects_list %}
        <!-- start iteration -->
        {% for project in policy_projects_list %}
        <div class="col-sm-4" style="margin-top: 1rem">
            <div class="project-card-sm">
                {% if project.featured_image == "" %}
                <img src="https://via.placeholder.com/340x200?text=no_featured_image">
                {% else %}
                <img src="{{ project.featured_image }}">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ project.title }}</h4>
                    <p class="card-text">{{ project.caption }}</p>
                    <div class="row" style="display: flex; justify-content: space-around">
                        <a href="{% url 'website:project_view' project.project_uid %}" class="card-link">
                            View Project <i class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Error! No projects are available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}